header {
    position: sticky;
    top: 0;
    margin: 0;
    padding:0;
    margin-left: 200px;
    width: calc(100% - 200px);
    overflow: hidden;
    box-sizing:border-box;
    z-index: 100;
    
}
body{
    margin:0;
    overflow-x:hidden;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    border: solid;
    border-width:1px;
    border-color: black;
    background-color: lightblue;
    font-size: 32px;
    padding: 20px 10px;
    margin: 0;
    text-align:center;
}

h1 {
    margin-left: 200px;
    text-align: center;
    margin-bottom: -20px;
    width: calc(100% - 200px); 
    box-sizing: border-box;
}
header p {
    background-color: red;
    margin: 0;
    box-sizing: border-box;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

#container p{
    font-size:14px;
}


footer {
    margin-left: 200px;
}

#container article {
    width: 300px;
}
#container {
    margin-left: 200px;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 200px); 
    gap: 20px;
    padding: 40px;
    font-family: Helvetica, sans-serif;
   
}


article h2 + p:first-letter{
    font-family:Times New Roman;
    font-size:36px;

}

div > article > p > a:after{
    content:url(https://upload.wikimedia.org/wikipedia/commons/9/96/Link-external-small-ltr-progressive.svg)
}

article{
    color:grey;
    width: 100%;
    transition: all 2s ease
}
article:hover{
    color:black;
    transform: scale(1.1);
}

#menuItems{
    position:fixed;
    background-color:black;
    width:200px;
    top:0;
    left:0;
    height:100vh;

}

ul{
    display:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align:center;
}
ul > li:hover{
    background-color:blue;
    
}
ul > li > a:hover{
    color:white;
}
nav a{
    text-decoration: none;
}
button{
    border:1em;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction:column;
    width:200px;
    height: 50px;
    font-size: 18px; 
    text-align: center;
    flex-shrink: 1;
}

button:hover{
    background-color:gold;

}
#recentArticles:hover + #jumpMenu, #jumpMenu:hover{
    opacity: 1;
    max-height:225px;
    pointer-events:auto;
}
#jumpMenu{
    display:block;
   margin:0;
   padding:0;
   max-height:0;
   opacity:0;
   background-color:gold;
   pointer-events: none;
}
